{% extends "layout.html" %}

{% block content %}
<style>
    p {text-align: center;}
    .p3{ 
        font-family: cursive;
        font-size: 28px; }
    .p4{ 
        font-family: cursive;
        font-size: 23px; }
    img {
  		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}
</style>
    
<body style="background-color:rgb(8, 88, 192);">
<br></br>
    <img ng-src="https://play.nintendo.com/images/PLAY-4354-PMDRTDX-PQ01_2x1_Q3_v01.0290fa98.jpg" width="700" height="350" ng-if="quiz.currentQuestion.image" alt="" class="ng-scope" src="https://play.nintendo.com/images/PLAY-4354-PMDRTDX-PQ01_2x1_Q3_v01.0290fa98.jpg">
<br></br>
    <ul>
        <img src="{{ image_url }}" width="200" height="250" alt="Image Pokemon">
        <p class="p3" style="color:rgb(224, 224, 224)">{{ x }}</p>
        
    </ul>
    <br></br>
    <p class="p4" style="color:rgb(224, 224, 224)"><a href="/pokemon">Start Again</a></p>
    <br></br><br></br><br></br>
       
</body>

{% endblock %}